@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kitou School - Trainers Page</h1>
    <p class="lead">Trainers Page is your Way To Create , Read, Update and Delete The Trainers In you Own Way.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Read All Trainers</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Try it now", "Index", "Trainers")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create New Trainers Or Edit Existing Ones</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Try it now", "Index", "Trainers")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete Trainers</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Try it now", "Index", "Trainers")</a></p>
        
    </div>
</div>